@mixin dimImage {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #505050;
    opacity: 0.4;
  }
}

@mixin jaggedEdges {
  &::after {
    content: "";
    bottom: 0;
    left: 0;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none"><polygon style="fill:white;" points="0,1 0.5,0.5 1,1 "/></svg>');
    background-size: 30px 30px;
    width: 100%;
    height: 30px;
    position: absolute;
    animation: arrow 100s linear infinite;
  }
}
