$primary-green: #9ed9ccff;
$primary-pink: #ffdde2ff;
$secondary-pink: #faa094ff;
$primary-grey: #303030;
$secondary-grey: #949494;

:root {
  --side-margin: 1rem;

  @media only screen and (min-width: 768px) {
    --side-margin: 3rem;
  }
  @media only screen and (min-width: 1200px) {
    --side-margin: 7%;
  }
}

@keyframes shift {
  to {
    background-position: 1000000% -500000%;
  }
}

@keyframes arrow {
  to {
    background-position: 1000% 0;
  }
}
