// page specific styles

// Global (every pages)
html {
  // overflow-y: scroll;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.main-container {
  overflow-x: hidden;
}

// index:
.jagged-bottom-pink {
  @include jaggedEdges($primary-pink);
}

.jagged-bottom-white {
  @include jaggedEdges(#fff);
}

.tea-photo {
}

.about-sec {
  // @include jaggedEdges($primary-green);
}

.about-content {
  text-align: center;
  @include desktop {
    text-align: left;
  }
}

@include desktop {
  .l-section-grid {
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    &__item {
    }
  }
}
