// page specific styles

// Global (every pages)
html {
  // overflow-y: scroll;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.main-container {
  overflow-x: hidden;
}

// index:
.intro-sec {
  @include jaggedEdges($primary-pink);
}

.service-sec {
  @include jaggedEdges(#fff);
}

.tea-sec {
  @include jaggedEdges($primary-pink);
}

.about-sec {
  // @include jaggedEdges($primary-green);
}

.about-content {
  text-align: center;
}
