.section {
  position: relative;
  padding: 3rem var(--side-margin) 3rem var(--side-margin);

  @media only screen and (min-width: 1200px) {
    padding: 6rem var(--side-margin) 6rem var(--side-margin);
  }

  p {
    margin: 0;
  }

  h2 {
    margin: 0;
    // color: $primary-grey;
    color: #fff;
  }

  &__sub-title {
    margin: 0;
    text-align: center;
  }

  &--white {
    @extend .section;
    color: $primary-grey;

    h2 {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $primary-grey;
      -webkit-text-fill-color: #fff;
    }
  }

  &--pink {
    @extend .section;
    color: $primary-grey;
    background-color: $primary-pink;
    h2 {
      text-shadow: -4px 4px 0px $primary-green;
    }
  }

  &--green {
    @extend .section;
    color: $primary-grey;
    background-color: $primary-green;

    h2 {
      text-shadow: -4px 4px 0px $secondary-pink;
    }
  }

  &__content {
    position: relative;
    padding: 3rem 0 3rem 0;

    p:not(:last-child) {
      margin-block-end: 1em;
    }

    p {
      @media only screen and (min-width: 992px) {
        margin-right: 20%;
      }
    }

    &--no-heading {
      padding: 0;
    }

    &--grey-lg {
      p {
        color: $secondary-grey;
        &:first-child {
          font-size: 1.25rem;
          color: $primary-grey;
        }
      }
    }
    &--white-lg {
      p {
        color: #ffffff;
        &:first-child {
          font-size: 1.25rem;
        }
      }
    }
  }
}
