.hero {
  position: relative;
  height: 120vh;
  display: grid;
  grid-template-rows: 30vh 70vh;
  grid-template-areas:
    "."
    "content";

  @include jaggedEdges;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
    background-size: 80%;
    background-repeat: repeat;
    background-position: 0 0;
    // opacity: 0.35;
    opacity: 0.6;
    animation: shift 50000s linear infinite;
    z-index: -100;
  }

  &__content {
    grid-area: content;
    margin-left: var(--side-margin);

    color: #883955;
    // -webkit-text-stroke-width: 4px;
    // -webkit-text-stroke-color: #82d4bb;
    // -webkit-text-fill-color: #fff;
    h1 {
      font-size: 14vw;
      color: #fff;
      text-shadow: -5px 4px 0px #ffb6c1;
    }
    p {
      font-size: 7vw;
    }
  }
}
